@media (max-width: 320px) {
    h1 {
      font-family: "Homemade Apple";
      text-align: center;
      color: #ffffff;
    }
}
@media (max-width: 600px) and (min-width: 320px) {
    h1 {
      font-family: "Homemade Apple";
      text-align: center;
      color: #ffffff;
    }
}
@media (min-width: 600px) and (max-width: 900px) {
    h1 {
      font-family: "Homemade Apple";
      text-align: center;
      color: #ffffff;
    }
}
@media (min-width: 901px) {
    h1 {
      font-family: "Homemade Apple";
      text-align: center;
      color: #ffffff;
    }
}